

body {
    margin: 0;
    padding: 0;
    height: auto;
    max-width: 1600px;
    font-family: 'Poppins', sans-serif;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 1rem;
    background-color: whitesmoke;
}


.nav-menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-item {
    flex: 1 0 10%;
    text-align: center;
}

.plane {
    margin-left: 10px;;
}

.logo a, .nav-menu a {
    display: block;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 1rem;
}

.logo {
    margin: 0 auto;
}

.logo a {
    color: #5066A2;
}


.nav-menu a {
    color: black;
    transition: ease-in-out 0.4s;
}

.nav-menu a:hover {
    transform: scale(1.2);
}

.nav-menu a:active {
    transform: scale(1.2);
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
 }
  
 h2 {
    font-weight: 400;
    font-size: 1.5rem;
    text-transform: capitalize;
    margin: 0;
 }
  
 img {
    display: block;
    width: 100%;
 }
  
 main {
    max-width: 1400px;
    margin: auto;
 }
  
 #home-strip {
    background: white;
 }
  
 #home-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    color: #5066A2;
    padding-right: 1rem;
    padding-left: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
  
 #home-text h2 {
    color: black;
 }
  
 #home-image {
    background-image: url(/img/amalfi.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    flex: 0 1 60vw;
    margin: 0;
 }
  
 .button {
    padding: 1rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 1em;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    transition: background 500ms ease;
 }
  
 .button:hover {
    background: #5066A2;
    color: white;
 }
  
 #text {
    padding: 1.5rem;
    text-align: center;
    background: whitesmoke;
    color: #5066A2;
 }

 #about {
     color: #5066A2;
     text-align: center;
 }

 h3 {
     color:#5066A2;
     font-weight: 200;
 }
  
 .caption {
    padding: 0.8rem;
    text-align: center;
 }
  
 footer {
    text-align: center;
    margin: auto;
    color: #5066A2;
 }
  
 footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
 }

 .grid-1 {
    display: grid;
    grid-template-columns: 75%;
    grid-template-rows: 12em 12em 12em;
    justify-content: center;
    gap: 2em;
  }
  
  .item-1 {
    background-image: url(/img/amalfi.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item-2 {
    color: #5066A2;
    padding: 1.5rem;
    text-align: center;
  }
  .item-3 {
    background-image: url(/img/greece.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item-4 {
    color: #5066A2;
    padding: 1.5rem;
    text-align: center;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: 12em 12em 12em;
    justify-content: center;
    gap: 2em;
    color: #5066A2;
  }

  .about-1 {
      background-image: url(/img/plane.jpeg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .container-main {
    display: flex;
    flex-direction: row;
  }
  
  .grid-left {
      grid-area: grid-left;
      display: grid;
      background-color: whitesmoke;
      grid-template-columns: 33% 33% 33%;
      grid-template-rows: 50%;
      height:90vh;
      width: 100%;
      border-radius: 12px;
      grid-gap: 10px;
      grid-template-areas:
      "image1 image2 image3"
  }
  
  .image1 {
      grid-area: image1;
      margin: 10px;
      border-radius: 20px;
      text-align: left;
      grid-gap: 10px;
  }
  
  .image2 {
    grid-area: image2;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
  }
  
  .image3 {
    grid-area: image3;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
  }

  
 
@media (min-width: 700px) {
    .header-nav {
        justify-content: space-between;
    }
    .nav-menu {
        width: auto;
    }
    .logo {
        margin: 0 0 0 0.3rem;
    }
    .btn {
        padding: 1rem 3rem;
    }
}




